@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgColor: #4b5563;
  --primaryBg: #4338CA;
  --primaryBgHover: #3730A3;
  --primaryBgFocus: #312E81;
  --textWhite : #ffffff;
  --textWhiteHover : #3730A3;
}

